<h1>Test Reactive Forms</h1>
<div style="width: 100%;height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
  <mat-card class="artist-card" style="margin: 16px; padding: 16px;">
    <form [formGroup]="loginForm">
      <mat-form-field style="width: 100%">
        <input matInput type="email" placeholder="Courriel" formControlName="email" name="email">
        <mat-error *ngIf="loginForm.get('email')?.errors?.['email'] && !loginForm.get('email')?.hasError('required')">
          Entrer une adresse courriel valide
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Le courriel est <strong>requis</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <input matInput type="text" placeholder="Votre nom" formControlName="name" name="name">
        <mat-error *ngIf="loginForm.get('name')?.hasError('required')">
          Votre nom est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('nameInEmail')">
          Le nom doit être dans l'adresse courriel
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Enregistrer</button>
    </form>
  </mat-card>
  <mat-card class="artist-card" style="margin: 16px; padding: 16px;">
    <form [formGroup]="catForm">
      <mat-form-field style="width: 100%">
        <label>Quel est votre animal favoris?</label>
        <input matInput placeholder="Courriel" formControlName="questionA" name="questionA">
        <mat-error *ngIf="catForm.get('questionA')?.errors?.['doesntLoveCats']">
          Vous devez préférer les chats!
        </mat-error>
        <mat-error *ngIf="catForm.get('questionA')?.hasError('required')">
          Cettre reponse est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <label>Aimez-vous mieux les chats que l'informatique?</label>
        <input matInput type="text" placeholder="Votre nom" formControlName="questionB" name="questionB">
        <mat-error *ngIf="catForm.get('questionB')?.hasError('doesntPreferCats')">
          Vous devez répondre oui!
        </mat-error>
        <mat-error *ngIf="catForm.get('questionB')?.hasError('required')">
          Cettre reponse est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!catForm.valid">Enregistrer</button>
      <mat-error *ngIf="catForm.hasError('atLeastOneMistake')">
        Au moins une de vos réponses est fausse
      </mat-error>
    </form>
  </mat-card>
</div>
